
/ki-r/node_modules/
/chosenki-2016.iml
/.idea/
/ki-redission/ki-redission.iml
/ki1st-backend/ki1st-backend.iml
/ki1st-frontend/ki1st-frontend.iml
/ki1st-frontend/target/
/ki1st-backend/target/
/ki1st-api/target/
/ki1st-api/ki1st-api.iml
/KI.log
/ki-redission/target/
/ki1st-xtqb/ki1st-xtqb.iml
/ki-xtqb/front/app/node_modules/
/ki-xtqb/front/xtqb/node_modules/
/ki1st-xtqb/src/main/webapp/front/app/node_modules/
/ki1st-xtqb/.idea/
/ki1st-xtqb/ki1st-xtqb.iml
